<div class="container">
    <div class="row">
        <div class="col">
            <div class="shoppingList">
                <div class="midScreenButton">
                    <a href="https://keep.google.com/" target="_blank">
                        <button type="button" class="btn btn-primary">
                            Make a list here
                        </button>
                    </a>
                </div>
                <div class="hr-lable2">
                    <span>or</span>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center"> Shopping list</h5>
                        <form method="post" class="text-center" action="/lists/addInfo">
                            <input type="text" class="form-control mb-2" name="info">
                            <button type="submit" class="btn btn-outline-primary">Add</button>
                        </form>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center"> Shopping list</h5>
                        <form>
                            {{#each shoppingList}}
                                <input type="checkbox" onclick="checkBoxes(this)" id="info" name="{{this.info}}"
                                       {{#if this.checked}}checked{{/if}}>{{this.info}}<br>
                            {{/each}}
                        </form>
                    </div>
                    <a href="/lists/deleteAll" class="btn btn-outline-danger">Clear the Board</a>
                </div>
            </div>
        </div>

        <div class="col">
            <h3 class="recipe-heading"> Recipes </h3>
            <div class="recipes">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target=#addRecipeModal>
                            Add a new recipe
                        </button>
                        <ul class="list-group">
                            {{#each recipes}}
                                <li class="list-group-item">
                                    <h3>{{this.name}}</h3>
                                    <p> Prep time: {{this.prepTime}} minutes + Cooking time {{this.cookingTime}}
                                        minutes</p>
                                    <p>Servings: {{this.servings}}</p>
                                    <p>Ingredients will come with an future update ;)</p>
                                    <hr>
                                    <p>Instructions: {{this.instructions}}</p>
                                    <a href="/lists/deleteRecipe?name={{this.name}}" class="btn
                                    btn-outline-danger">Remove the recipe</a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addRecipeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/lists/addRecipe" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Add a new recipe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                    <input class="form-control" type="number" name="prepTime" placeholder="Prep time">
                    <input class="form-control" type="number" name="cookingTime" placeholder="Cooking time">
                    <input class="form-control" type="text" name="servings" placeholder="Servings">
                    <input class="form-control" type="text" name="nutritionInfo" placeholder="Nutrition info">
                    <input class="form-control" type="text" name="instructions" placeholder="Instructions">

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>



